@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  src: url("/fonts/Jost-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-display: swap;
  src: url("/fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype");
}

@theme inline {
  --font-display: "Jost", "Arial", "sans-serif";
  --font-sans: "Jost", "Arial", "sans-serif";

  --color-background: var(--background);
  --color-foreground: var(--color-primitive-medium);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-primary-50: oklch(97.94% 0.015 195.06); /* #E8FEFF */
  --color-primary-100: oklch(95.89% 0.029 195.06); /* #CDFBFF */
  --color-primary-200: oklch(92.45% 0.052 195.06); /* #A1F3FF */
  --color-primary-300: oklch(88.94% 0.076 195.06); /* #74EBFF */
  --color-primary-400: oklch(80.78% 0.125 195.06); /* #1AD3F6 */
  --color-primary-500: oklch(73.82% 0.142 210.68); /* #00B6DC */
  --color-primary-600: oklch(60.42% 0.142 210.68); /* #0190B9 */
  --color-primary-700: oklch(49.37% 0.112 210.68); /* #097395 */
  --color-primary-800: oklch(40.42% 0.082 210.68); /* #115D79 */
  --color-primary-900: oklch(33.94% 0.062 210.68); /* #134D66 */

  --color-success-50: oklch(97.48% 0.0514 133.78); /* #F9FFDC */
  --color-success-100: oklch(95.93% 0.078 134.42); /* #DCFEC9 */
  --color-success-200: oklch(92.64% 0.146 135.89); /* #BAFD99 */
  --color-success-300: oklch(88.41% 0.2141 137.3); /* #8EF85E */
  --color-success-400: oklch(84.02% 0.2484 138.81); /* #66EE2D */
  --color-success-500: oklch(76.32% 0.2421 139.94); /* #46D40E */
  --color-success-600: oklch(64.6% 0.2077 140.37); /* #31AA06 */
  --color-success-700: oklch(52.94% 0.1665 140.21); /* #27810A */
  --color-success-800: oklch(44.72% 0.1334 139.85); /* #23650F */
  --color-success-900: oklch(44.63% 0.1337 140.65); /* #206511 */

  /* Caution color palette */
  --color-caution-50: oklch(98.32% 0.0405 101.07); /* #FFFBDC */
  --color-caution-100: oklch(97.51% 0.0742 103.56); /* #FFFAC0 */
  --color-caution-200: oklch(94.73% 0.1303 101.96); /* #FFF185 */
  --color-caution-300: oklch(91.06% 0.1716 98.6); /* #FFE23F */
  --color-caution-400: oklch(84.23% 0.1714 84.35); /* #FFC00B */
  --color-caution-500: oklch(80.39% 0.165792 81.6435); /* #F4B200 */
  --color-caution-600: oklch(68.77% 0.1482 70.84); /* #D38800 */
  --color-caution-700: oklch(55.76% 0.1287 61.65); /* #A85F00 */
  --color-caution-800: oklch(47.76% 0.1107 57.57); /* #8A4A09 */
  --color-caution-900: oklch(42.29% 0.0964 54.74); /* #753D0E */

  /* Error color palette */
  --color-error-50: oklch(97.25% 0.0119 23.7); /* #FEF3F2 */
  --color-error-100: oklch(94.27% 0.0256 26.53); /* #FDE6E3 */
  --color-error-200: oklch(89.61% 0.0492 25.87); /* #FCD1CC */
  --color-error-300: oklch(82.59% 0.0859 27.04); /* #F9B1A8 */
  --color-error-400: oklch(73.26% 0.1383 28.39); /* #F38476 */
  --color-error-500: oklch(63.06% 0.1942 29.72); /* #E74C3B */
  --color-error-600: oklch(58.72% 0.1909 30.62); /* #D63F2C */
  --color-error-700: oklch(51.42% 0.1694 30.85); /* #B43221 */
  --color-error-800: oklch(45.26% 0.1426 30.41); /* #952C1F */
  --color-error-900: oklch(40.32% 0.1183 28.8); /* #7C2820 */
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.34 0.0045 354.97);
  --card: oklch(1 0 0);
  --card-foreground: oklch(33.63% 0.0045 354.97);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(33.63% 0.0045 354.97);
  --primary: oklch(87.85% 0.1104 209.9);
  --primary-foreground: oklch(33.63% 0.0045 354.97);
  --secondary: oklch(91.06% 0.1716 98.6);
  --secondary-foreground: oklch(33.63% 0.0045 354.97);
  --muted: oklch(89.1% 0.0035 354.7);
  --muted-foreground: oklch(57.99% 0.0096 349.46);
  --accent: oklch(97.48% 0.0514 133.78);
  --accent-foreground: oklch(64.6% 0.2077 140.37);
  --destructive: oklch(58.72% 0.1909 30.62);
  --destructive-foreground: oklch(100% 0 0);
  --border: oklch(92.49% 0 0);
  --input: oklch(67.56% 0.008 354.91);
  --ring: oklch(71.8% 0.130652 219.9251);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.5rem;
  --sidebar: oklch(97.72% 0.0017 325.59);
  --sidebar-foreground: oklch(0.205 0 0);
  --sidebar-primary: oklch(87.85% 0.1104 209.9);
  --sidebar-primary-foreground: oklch(33.63% 0.0045 354.97);
  --sidebar-accent: oklch(76.32% 0.2421 139.94);
  --sidebar-accent-foreground: oklch(33.63% 0.0045 354.97);
  --sidebar-border: oklch(95.07% 0.0022 17.2);
  --sidebar-ring: oklch(71.8% 0.130652 219.9251);

  --color-primitive-dark: oklch(0.34 0.0045 354.97); /* var(--foreground) */
  --color-primitive-medium: oklch(0.43 0.0085 355.15);
  --color-primitive-light: oklch(0.58 0.0096 349.46);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}
